@model AddSupplierRequest
@{ 
ViewData["Title"] = "Add New Supplier";
}
<h2>Create Supplier</h2>

<form asp-action="AddSupplier">
    <div class="form-group">
        <label asp-for="SupplierName"></label>
        <input asp-for="SupplierName" class="form-control" />
    </div>
  
    <div class="form-group">
        <label asp-for="ContactInfo"></label>
        <input asp-for="ContactInfo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
